<ion-view>
  <ion-content class='back-orange' scroll='false'>
    <div class='difficulty-button-container'>
      <p class='dont-have-max' ng-if='!max'>
        You don't have a max.<br>
        Set it now!
      </p>
      <button class='flat-button difficulty-button medium-button' ui-sref='exercise.display({difficulty: "medium"})' ng-if='max'>Medium</button>
      <button class='flat-button difficulty-button hard-button' ui-sref='exercise.display({difficulty: "hard"})' ng-if='max'>Hard</button>
      <button class='flat-button difficulty-button max-button' ui-sref='exercise.display({difficulty: "max"})'>
        Max 
        <span class='max-display' ng-if='max'>({{max}})</span>
      </button>
    </div>
  </ion-content>
</ion-view>