<ion-view>
  <ion-content class='back-orange'>
    <div class='difficulty-button-container'>
      <button class='difficulty-button medium-button' ui-sref='exercise.display({difficulty: "medium"})' ng-if='max'>Medium</button>
      <button class='difficulty-button hard-button' ui-sref='exercise.display({difficulty: "hard"})' ng-if='max'>Hard</button>
      <button class='difficulty-button max-button'>
        Max <span class='max-display' ui-sref='exercise.display({difficulty: "max"})' ng-if='max'>({{max}})</span>
      </button>
    </div>
  </ion-content>
</ion-view>