.no-padding {
  padding: 0;
}

.disabled-button {
  background-color: gray !important;
  box-shadow: none !important;
}

.home-list-header {
  font-size: 3em;
  text-align: center;
  padding: 15px 0 15px;
  font-weight: 200;
  line-height: 1em;
  color: white;
}

.back-green {
  background-color: rgb(38,202,38);//#26CA26;
}

.back-blue {
  background-color: rgb(42,184,255);//#2AB8FF;
}

.workout-list-item {
  text-align: center;
  font-size: 2em;
  line-height: 1em;
  font-weight: 200;
  color: white;
  background-color: gray;

  span {
    padding: 15px 0 15px;
    font-size: 1.1em;
  }
}

.go {
  background-color: orange;
}

.go-alt {
  color: orange;
}

.exercise-header {
  text-align: center;
  background-color: blue;
  color: white;
  font-size: 5em;
  line-height: 1em;
  padding: 1em 0;
  font-weight: 200;
}

.back-orange {
  background-color: orange;
}

.difficulty-button-container {
  padding-top: 3em;
  height: 100%;
}

.flat-button {
  display: block;
  border: none;
  color: white;
  font-weight: 200;
  background-color: transparent;
  margin: 0 auto;
}

.difficulty-button {
  font-size: 3em;
  width: 70%;
  margin-top: 0.5em;

  &.medium-button {
    background-color: green;
  }

  &.hard-button {
    background-color: red;
  }

  &.max-button {
    background-color: black;

    .max-display {
      font-size: 0.7em;
      font-weight: bold;
    }
  }
}

.rep-goal {
  font-size: 12em;
  text-align: center;
  line-height: 1em;
  color: black;
  font-weight: 100;
  margin: 0.1em 0 0.4em;
}

.button-shadow {
  box-shadow: 0 4px 13px 2px black;
  margin-top: -5px;

  &:active {
    box-shadow: 0 1px 13px 0 black;
    margin-top: 0px;
  }
}

.reps-done-button {
  font-size: 3.5em;
  background-color: #8B008B;
}

.i-did {
  font-size: 3em;
  line-height: 1em;
  padding-top: 0.5em;
}

.exercise-done-rep-container {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  margin-top: 1em;

  button {
    font-size: 11vh;
    width: 70%;
    line-height: 1em;
    background-color: green;
  }
}

.exercise-done-nonrep-container {
  position: absolute;
  width: 100%;
  margin-top: 9em;

  input {
    display: inline;
    height: 11vh;
    border: none;
    padding: 0;
    width: 40%;
    margin-right: -2px;
    margin-top: -12px;
    text-align: center;
    font-size: 3em;
    line-height: 1em;
  }

  button {
    background-color: blue;
    height: 11vh;
    display: inline;
    width: 30%;
    margin-left: -1px;
    font-size: 2em;

    &:active {
      background-color: darkblue;
    }
  }
}

