.no-padding {
  padding: 0;
}

.home-list-header {
  font-size: 3em;
  text-align: center;
  padding: 15px 0 15px;
  font-weight: 200;
  line-height: 1em;
  color: white;
}

.back-green {
  background-color: rgb(38,202,38);//#26CA26;
}

.back-blue {
  background-color: rgb(42,184,255);//#2AB8FF;
}

.workout-list-item {
  text-align: center;
  font-size: 2em;
  line-height: 1em;
  font-weight: 200;
  color: white;
  background-color: gray;

  span {
    padding: 15px 0 15px;
    font-size: 1.1em;
  }
}

.go {
  background-color: orange;
}

.go-alt {
  color: orange;
}

.exercise-header {
  text-align: center;
  background-color: blue;
  color: white;
  font-size: 5em;
  line-height: 1em;
  padding: 1em 0;
  font-weight: 200;
}

.back-orange {
  background-color: orange;
}

.difficulty-button-container {
  padding-top: 3em;
  height: 100%;
}

.difficulty-button {
  font-size: 3em;
  display: block;
  width: 70%;
  margin: 0 auto;
  background-color: transparent;
  color: white;
  font-weight: 200;
  margin-top: 0.5em;
  border: none;

  &.medium-button {
    background-color: green;
  }

  &.hard-button {
    background-color: red;
  }

  &.max-button {
    background-color: black;

    .max-display {
      font-size: 0.7em;
      font-weight: bold;
    }
  }
}
